
@{
    ViewBag.Title = "AddBook";
}
@section css{
    <link href="~/assets/css/glyphiconCustom.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link href="~/assets/plugins/file-input/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/tinymce/skins/oxide/skin.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/file-input/themes/explorer/theme.min.css" rel="stylesheet" />
    <style>
        .caption-cell {
            white-space: pre-line;
            overflow: auto;
            max-width: 10rem;
        }
    </style>
}
<div class="row">
    <div class="col-md-12 widget-holder">
        <div class="widget-bg">
            <div class="widget-body clearfix">
                <h5 class="box-title mr-b-0 text-success"><i class="material-icons ">library_add</i> NHẬP SÁCH VÀO THƯ VIỆN</h5>
                <p class="text-muted">Thủ thư nhập sách vào thư viện.</p>
                <div class="row">
                    <div class="col-md-8">
                        <form id="frmAddBook" action="@Url.Action("AddBook","Book")" method="post">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Tiêu đề sách</label>
                                <div class="col-md-10">
                                    <input class="form-control" placeholder="Tiêu đề sách" type="text" autofocus tabindex="0" name="Title">
                                </div>
                                @*<label class="col-md-1 col-form-label pr-0">SKU</label>
                                    <div class="col-md-3">
                                        <input class="form-control" placeholder="SKU" type="text">
                                    </div>*@
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Nhà xuất bản</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="publisherID" tabindex="1">
                                        <option></option>
                                    </select>
                                </div>
                                <label class="col-md-2 col-form-label pr-0">Ngày xuất bản</label>
                                <div class="col-md-4 ">

                                    <div class="form-input-icon">
                                        <i class="material-icons list-icon">date_range</i>
                                        <input class="form-control datepicker" tabindex="2" placeholder="Ngày xuất bản"
                                               type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" name="publishDate">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Danh mục</label>
                                <div class="col-md-4">
                                    <select class="form-control js-states" name="CategoryID" tabindex="3">
                                        <option></option>
                                    </select>
                                </div>
                                <label class="col-md-2 col-form-label pr-0">Giá sách</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="Price" tabindex="4">
                                </div>


                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Vị trí tủ sách</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="LocationID" tabindex="5">
                                        <option></option>
                                    </select>
                                </div>
                                <label class="col-md-2 col-form-label pr-0">Số trang</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="NumberOfPages" type="text" tabindex="6">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Các tác giả</label>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Các tác giả" type="text" tabindex="7" name="Author">
                                </div>
                                <label class="col-md-2 col-form-label pr-0">Số lượng</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="Quantity" type="text" tabindex="8">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-right">Mô tả</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" placeholder="Giới thiệu về sách" rows="4" tabindex="9" name="Description"></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="form-group row">
                                    <div class="col-md-9 ml-md-auto btn-list">
                                        <button class="btn btn-primary bg-success" type="submit"><i class="material-icons list-icon">check</i> Nhập sách</button>
                                        <a href="@Url.Action("Index","Book")" class="btn btn-outline-default"><i class="material-icons list-icon">library_books</i>Kho sách</a>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-md-9 ml-md-auto btn-list" id="viewError">
                                        
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class=" col-md-4">
                        <h5 class="box-title mr-b-0">Hình ảnh sách</h5>
                        <input id="imagesBook" type="file" multiple accept="image/*" />
                        <input type="hidden" id="checkUpload" value="0" />
                    </div>
                </div>

            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>
</div>
@section js{
    <script src="~/assets/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/assets/plugins/file-input/js/plugins/piexif.min.js"></script>
    <script src="~/assets/plugins/file-input/js/plugins/sortable.min.js"></script>

    <script src="~/assets/plugins/file-input/js/plugins/purify.min.js"></script>
    <script src="~/assets/plugins/file-input/js/fileinput.min.js"></script>
    <script src="~/assets/plugins/file-input/js/locales/LANG.js"></script>
    <script src="~/assets/plugins/file-input/js/locales/vi.js"></script>
    <script src="~/assets/plugins/file-input/themes/explorer/theme.min.js"></script>
    <script src="~/assets/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/assets/plugins/tinymce/themes/silver/theme.min.js"></script>
    <script>
        var createElement = {
            init: function () {
                this.loadPublisher();
                this.loadCategory();
                this.priceBook();
                this.numberOfPages();
                this.Quantity();
                this.loadLocation();
                this.imagesBook();
                this.imageBookHandleChange();
                this.imageBookUploadComplete();
                this.frmAddBookHandleSubmit();
                this.publishDate();
                this.description();
                this.validate();
            },
            loadPublisher: () => {
                $.get('/Publisher/GetListAllPublisher')
                    .then((result) => {
                        console.log(result);
                        $('#frmAddBook select[name="publisherID"]').select2({
                            placeholder: 'Chọn nhà xuất bản sách',
                            data: result,


                        });
                    });
            },
            loadCategory: () => {
                $.get('/Category/GetListCategoryForSelect')
                    .then((result) => {
                        console.log(result);
                        $('#frmAddBook select[name="CategoryID"]').select2({
                            placeholder: {
                                id: '', text: 'Chọn danh mục sách'
                            },
                            data: result
                        });
                    });
            },
            priceBook: () => {
                $('#frmAddBook input[name="Price"]').TouchSpin({
                    min: 500,
                    max: 999999999,
                    step: 500,
                    decimals: 0,
                    buttondown_class: "btn btn-outline-success border",
                    buttonup_class: "btn btn-outline-success border",
                    postfix: 'vnđ',
                    postfix_extraclass: "btn btn-outline-default",
                });
            },
            numberOfPages: () => {
                $('#frmAddBook input[name="NumberOfPages"]').TouchSpin({
                    min: 1,
                    max: 999999999,
                    step: 1,
                    decimals: 0,
                    buttondown_class: "btn btn-outline-success border",
                    buttonup_class: "btn btn-outline-success border",
                    postfix: 'trang',
                    postfix_extraclass: "btn btn-outline-default",
                });
            },
            Quantity: () => {
                $('#frmAddBook input[name="Quantity"]').TouchSpin({
                    min: 1,
                    max: 999999999,
                    step: 1,
                    decimals: 0,
                    buttondown_class: "btn btn-outline-success border",
                    buttonup_class: "btn btn-outline-success border",
                    postfix: 'cuốn',
                    postfix_extraclass: "btn btn-outline-default",
                });
            },
            publishDate: () => {
                $('#frmAddBook input[name="publishDate"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        format: "DD/MM/YYYY"
                    }
                });
            },
            loadLocation: () => {
                $.get('/Location/GetBookCasesForSelect')
                    .then((result) => {
                        console.log(result);
                        $('#frmAddBook select[name="LocationID"]').select2({
                            placeholder: {
                                id: '', text: 'Chọn vị trí tủ sách'
                            },
                            data: result
                        });
                    });
            },
            imagesBook: () => {
                $("#imagesBook").fileinput({
                    theme: "explorer",
                    uploadUrl: "/Book/UploadImage/",
                    language: 'vi',
                    minFileSize: '1',
                    maxFileSize: '2000',
                    resizeImage: true,
                    maxImageWidth: 640,
                    maxImageHeight: 640,
                    resizePreference: 'width',
                    validateInitialCount: true,
                    uploadAsync: false,
                    minFileCount: '1',
                    accept: 'image/*',
                    maxFileCount: '10',
                    browseOnZoneClick: true,
                    showBrowse: false,
                    allowedPreviewTypes: ['image'], // allow only preview of image & text files
                    allowedFileExtensions: ['jpg', 'png'],
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    fileActionSettings: {
                        showRemove: true,
                        showUpload: false,
                        showZoom: true,
                        showDrag: false,
                    },
                    //previewFileIconSettings: {
                    //    'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                    //    'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                    //    'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    //    'pdf':  '<i class="fa fa-file-pdf-o text-danger"></i>',
                    //    'zip':  '<i class="fa fa-file-archive-o text-muted"></i>',
                    //},
                    previewSettings: {
                        image: { width: "60px", height: "50px" },

                    },
                    layoutTemplates: {
                        footer: "" +
                            "<td class='file-details-cell caption-cell'>" +
                            "<label >{caption}\n{size}</label>" +
                            "</td>" +
                            "<td class='file-actions-cell'>" +
                            "{indicator}\n{actions}" +
                            "</td>",
                    },
                    removeClass: "btn btn-danger",
                    uploadClass: "btn btn-info",
                    uploadIcon: "<i class='material-icons list-icon'>file_upload</i> ",
                    removeIcon: "<i class='material-icons list-icon'>delete</i> ",
                    uploadLabel: "Tải ảnh lên",

                });
            },
            imageBookHandleChange: () => {
                $('#imagesBook').on('change', function () {
                    $("#checkUpload").val(0);
                });
            },
            imageBookUploadComplete: () => {
                $('#imagesBook').on('filebatchuploadcomplete', function (event, files, extra) {
                    $("#checkUpload").val(1);
                });
            },
            frmAddBookHandleSubmit: () => {
                $('#frmAddBook').on('submit', function (e) {
                    if ($("#checkUpload").val() == 0) {
                        if ($(this).valid()) {
                            swal(
                                'Thông báo!',
                                "Vui lòng tải ảnh lên trước khi thêm sách",
                                'error'
                            );
                            e.preventDefault();
                            return false;
                        }
                        
                    } else {

                        var publishDate = $('#frmAddBook input[name="publishDate"]').val().split('/');
                        $('#frmAddBook input[name="publishDate"]').val(publishDate[2] + "/" + publishDate[1] + "/" + publishDate[0])

                    }
                });
            },
            description: () => {
                tinymce.init({
                    selector: '#frmAddBook textarea[name="Description"]',
                    //skin_url: '/plugin/tinymce/skins/mytinymceskin',
                    plugins: [
                        'link image  hr',
                        'advlist autolink lists link image charmap print preview  anchor pagebreak',
                        'searchreplace wordcount visualblocks visualchars code fullscreen',
                        'insertdatetime media nonbreaking save table  directionality',
                        //'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help',
                        'image paste'
                    ],
                    menubar: false,
                    min_height: 300,
                    height: 300,
                    toolbar1: 'undo redo | styleselect  formatselect  fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | image forecolor backcolor emoticon',
                    encoding: "xml",
                });
            },
            validate: () => {
                $('#frmAddBook').validate({
                    errorClass: 'invalid-feedback',
                    rules: {
                        Title: {
                            required: true,
                            minlength: 20
                        },
                        Price: {
                            required: true,
                        },
                        PublishDate: {
                            required: true,
                        },
                        Author: {
                            required: true,
                        },
                        NumberOfPages: {
                            required: true,
                        },
                        Description: {
                            required: true,
                        },
                        CategoryID: {
                            required: true,
                        },
                        PublisherID: {
                            required: true,
                        },
                        LocationID: {
                            required: true,
                        },
                        PriQuantityce: {
                            required: true,
                        },

                    },
                    messages: {
                       
                        Title: {
                            required: "Vui lòng nhập tiêu đề sách!",
                            minlength: "Tiêu đề sách tối thiểu 20 ký tự"
                        },
                        Price: {
                            required: "Còn thiếu giá tiền!",
                        },
                        PublishDate: {
                            required: "Còn thiếu ngày xuất bản!",
                        },
                        Author: {
                            required: "Còn thiếu tác giả!",
                        },
                        NumberOfPages: {
                            required: "Còn thiếu số trang!",
                        },
                        Description: {
                            required: "Còn thiếu mô tả!",
                        },
                        CategoryID: {
                            required: "Còn thiếu danh mục!",
                        },
                        PublisherID: {
                            required: "Còn thiếu nhà xuất bản!",
                        },
                        LocationID: {
                            required: "Còn thiếu tủ sách!",
                        },
                        Quantity: {
                            required: "Còn thiếu số lượng!",
                        },
                    },
                    //errorElement: 'label',
                    errorLabelContainer: '.invalid-feedback',
                    errorPlacement: function (error, element) {
                        $('#viewError').append(error).append('</br>');
                    },
                    highlight: function (element, errorClass, validClass) {
                        if (element.type == "select") {
                            this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                        } else {
                            $(element).closest('.form-group').find('input').removeClass('is-valid').addClass('is-invalid');
                        }
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        if (element.type == "select") {
                            this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                        } else {
                            $(element).closest('.form-group').find('input').removeClass('is-invalid').addClass('is-valid');
                        }
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            }
        }

        $(document).ready(function () {
            createElement.init();
            showMessage();
        });
        function showMessage() {
            if (@Html.Raw(Json.Encode(ViewBag.msgSuccess))!= null) {
                swal(
                    "Thông báo",
                     @Html.Raw(Json.Encode(ViewBag.msgSuccess)),
                    "success"
                );
            }
            if (@Html.Raw(Json.Encode(ViewBag.msgError))!= null) {
                swal(
                    "Thông báo",
                     @Html.Raw(Json.Encode(ViewBag.msgError)),
                    "error"
                );
            }
        }
    </script>





}