
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Category Page";
}
@section css{


}
<div class="row">
    <div class="col-md-4 mr-b-20">
        <div class="card card-expandable bg-white card-expanded">
            <div class="card-header border-bottom-1 pb-2">
                <h5 class="card-title mt-3 fs-15">Thêm Danh Mục Sách</h5>  <i class="material-icons list-icon ripple">keyboard_arrow_down</i>
            </div>
            <form id="frm-insert-category" method="post" action="@Url.Action("InsertCategory","Category")">
                <div class="card-body pt-2">
                    <div class="form-group">
                        <label class="form-control-label">Danh Mục Cha</label>
                        <select class="form-control parent-id" name="ParentID">
                            <option value="-1">Không chọn</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sample1UserName">Tên Danh Mục</label>
                        <input type="text" class="form-control " name="Name" id="nameCategory" placeholder="Nhập tên danh mục...">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="card-action pb-0">
                    <div class=" btn-list">
                        <button type="submit" class="btn btn-success">
                            <i class="material-icons ">done</i>&nbsp;Hoàn tất
                        </button>
                        @*<button type="button" class="btn btn-default" id="btn-close-insert">
                                <i class="material-icons list-icon">close</i>&nbsp;Đóng
                            </button>*@
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="col-md-8 widget-holder">

        <div class="widget-bg">
            <div class="widget-body clearfix">
                <table class="table table-hover " id="table-data">
                    <thead>
                        <tr class="bg-info">
                            <th>&nbsp;</th>
                            <th>ID</th>
                            <th>Tên danh mục</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cate in ViewBag.LstCategory)
                        {
                            <tr id="tb-row-@cate["ID"]" class="font-weight-bold">
                                <td class="@(cate["Child"].Count > 0? "expand-table":"")">
                                    @if (cate["Child"].Count > 0)
                                    {
                                        <a href="javascript: void(0);" class="expand-table d-flex justify-content-center text-primary" data-id="@cate["ID"]">
                                            <i class="material-icons">add</i>
                                        </a>
                                    }
                                </td>
                                <td class="@(cate["Child"].Count > 0? "expand-table":"")" data-id="@cate["ID"]">@cate["ID"]</td>
                                <td class="@(cate["Child"].Count > 0? "expand-table":"")" data-id="@cate["ID"]">@cate["Name"]</td>
                                <td>
                                    <input type="checkbox" data-secondary-color="#e6614f" checked="@cate["Flag"]" class="js-switch" data-color="#38d57a" data-size="small">
                                </td>
                                <td>
                                    <a href="javascript: void(0);" data-id="@cate["ID"]" data-parentid="-1" data-toggle="modal" data-target=".bs-modal-sm-color-scheme" class="color-info mr-2 btn-edit-click" title="Cập nhật NXB">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a href="javascript: void(0); " data-id="@cate["ID"]" data-parentid="-1" class="color-danger del-submit" title="Xóa NXB">
                                        <i class="material-icons">clear</i>
                                    </a>
                                </td>
                            </tr>
                            if (cate["Child"].Count > 0)
                            {
                                foreach (var c in cate["Child"])
                                {
                                    <tr class="" data-parentid="@cate["ID"]" id="tb-row-@c.ID">
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td class=""><span class="pl-3">@c.ID</span></td>
                                        <td class=""><span class="pl-3">@c.Name</span></td>
                                        <td>
                                            <input type="checkbox" data-secondary-color="#e6614f" checked="@c.Flag" class="js-switch" data-color="#38d57a" data-size="small">
                                        </td>
                                        <td>
                                            <a href="javascript: void(0);" data-id="@c.ID" data-parentid="@cate["ID"]"
                                               data-toggle="modal" data-target=".bs-modal-sm-color-scheme"
                                               class="color-info mr-2 btn-edit-click" title="Cập nhật danh mục">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a href="javascript: void(0); " data-id="@c.ID" data-parentid="@cate["ID"]"
                                               class="color-danger del-submit" title="Xóa danh mục">
                                                <i class="material-icons">clear</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-color-scheme fade bs-modal-sm-color-scheme" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header text-inverse">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title" id="mySmallModalLabel">Cập Nhật Danh Mục Sách</h5>
            </div>
            <div class="modal-body">
                <form id="frm-update-category" action="@Url.Action("UpdateCategory","Category")" method="post">
                    <input type="hidden" name="ID" value="" />
                    <div class="form-group">
                        <label class="form-control-label">Danh Mục Cha</label>
                        <select class="form-control parent-id" name="ParentID">
                            <option value="-1">Không chọn</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sample1UserName" class="form-control-label">Tên Danh Mục</label>
                        <input type="text" class="form-control " name="Name" id="nameCategory" placeholder="Nhập tên danh mục...">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Trạng thái &nbsp;</label>
                        <input type="checkbox" name="status" data-secondary-color="#e6614f" class="col-md-9 js-switch" data-color="#38d57a" data-size="small">
                        <input type="hidden" name="Flag" />
                    </div>
                    <div class="form-actions">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 error-area">

                                </div>
                                <div class="col-sm-12 btn-list d-flex justify-content-end">
                                    <button type="submit" class="btn btn-success">
                                        <i class="material-icons list-icon">check</i>&nbsp; Hoàn tất
                                    </button>
                                    <button type="button" class="btn btn-default" id="btnTest" data-dismiss="modal">
                                        <i class="material-icons list-icon">close</i>&nbsp;Đóng
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section js{

    <script>
        $(document).ready(function () {
            $('form').each(function () {
                $(this).validate({
                    errorClass: 'invalid-feedback',
                    rules: {
                        Name: {
                            required: true,
                            minlength: 20
                        }
                    },
                    messages: {
                        Name: {
                            required: "Vui lòng nhập tên danh mục!",
                            minlength: "Tên danh mục tối thiểu 20 ký tự"
                        },
                    },
                    //errorElement: 'div',
                    //errorLabelContainer: '.invalid-feedback',
                    errorPlacement: function (error, element) {
                        $(element).next('div').html(error);
                    },
                    highlight: function (element, errorClass, validClass) {
                        if (element.type == "radio") {
                            this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                        } else {
                            $(element).closest('.form-group').find('input').removeClass('is-valid').addClass('is-invalid');
                        }
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        if (element.type == "radio") {
                            this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                        } else {
                            $(element).closest('.form-group').find('input').removeClass('is-invalid').addClass('is-valid');
                        }
                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            });

            $('.expand-table').on('click', function () {
                var id = $(this).data('id');
                var el = $('#table-data tbody').find('tr[data-parentid="' + id + '"]')
                if (el.hasClass('hidden')) {
                    el.removeClass('hidden');
                } else {
                    el.addClass('hidden');
                }
            });
            fetch("/Category/GetListCategory")
                //.then(res => {
                //    if (res.ok) {
                //        return Promise.resolve(res);
                //    } else {
                //        return Promise.reject(new Error('Failed to load'));
                //    }
                //})
                .then(res => res.json())
                .then(data => {
                    //console.log(data);
                    //var output = '';
                    //$.each(data, (index, item) => {
                    //    output += buildList(item);
                    //});
                    //$('#content-lst-node').html(output);
                    //$('#lst-node').nestable();
                });
            fetch("/Category/GetListCategoryParent")
                .then(res => res.json())
                .then(data => {
                    var html = "";
                    $.each(data, (i, e) => {
                        html += "<option value='" + e.ID + "'>" + e.Name + "</option>"
                    });
                    $('.parent-id').append(html);
                    //$("#frm-insert-category").find('select[name="ParentID "]').append(html);
                });


            if('@Html.Raw(Json.Encode(ViewBag.msgSuccess))'!= 'null') {
                $.toast({
                    heading: 'THÔNG BÁO: ',
                    text: @Html.Raw(Json.Encode(ViewBag.msgSuccess)),
                    position: 'top-right',
                    icon: 'success',
                    stack: false
                });
            }
            if('@Html.Raw(Json.Encode(ViewBag.msgError))'!= 'null') {
                $.toast({
                    heading: 'THÔNG BÁO: ',
                    text: @Html.Raw(Json.Encode(ViewBag.msgError)),
                    position: 'top-right',
                    icon: 'error',
                    stack: false
                });
            }
            $('.del-submit').on('click', function () {
                var id = $(this).data('id');
                var parentId = $(this).data('parentid');
                swal({
                    title: 'XÁC NHẬN?',
                    text: "Bạn có chắc chắn muốn xóa danh mục này!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Xác nhận',
                    cancelButtonText: "Đóng",
                }).then((result) => {
                    if (result.value) {
                        var id = $(this).data('id');
                        var url = "/Category/DeleteCategory"
                        fetch(url, {
                            method: 'post',
                            headers: {
                                'Accept': 'application/json, text/plain, */*',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ id: id })
                        }).then(res => res.json())
                            .then(data => {
                                if (data.result === 1) {
                                    $('#tb-row-' + id).hide().remove();
                                    swal(
                                        'Thành công!',
                                        '',
                                        'success'
                                    )
                                } else {
                                    swal(
                                        'Thất bại!',
                                        data.msg,
                                        'error'
                                    )
                                }
                            }).catch((error) => {
                                console.log(`Error:${error.messages}`);
                            });

                    } else if (result.dismiss === "cancel") {

                    }
                });
            });

            $('.btn-edit-click').on('click', function () {
                $('#frm-update-category').find('input').removeClass('is-invalid').removeClass('is-valid');
                $('#frm-update-category').find('div .invalid-feedback').empty();
                var id = $(this).data('id');

                var url = '/Category/GetCategory?' + $.param({ "id": id });
                fetch(url)
                    .then(res => {
                        if (res.ok) {
                            return Promise.resolve(res);
                        } else {
                            return Promise.reject(new Error('Failed to load'));
                        }
                    })
                    .then(res => res.json())
                    .then((data) => {
                        console.log(data);
                        if (!data) {
                            return;
                        }
                        $('#frm-update-category select[name="ParentID"]').val(data.ParentID==null?-1:data.ParentID);
                        $('#frm-update-category input[name="Name"]').val(data.Name);
                        $('#frm-update-category input[name="ID"]').val(data.ID);
                        $('#frm-update-category input[name="Flag"]').val(data.Flag);
                        var check = $('#frm-update-category input[name="status"]').is(':checked');
                        if (data.Flag == true && check == false || (data.Flag == false && check == true)) {
                            //$('#frmUpdatePublisher input[name="status"]').prop('checked', true);
                            $('#frm-update-category input[name="status"]').trigger('click');
                        } 
                    }).catch((error) => {
                        console.log(`Error:${error.messages}`);

                    });
            });
            $('#frm-update-category input[name="status"]').on('change', function (event) {
                $('#frm-update-category input[name="Flag"]').val($(this).is(':checked') ? "true" : "false");
                //console.log($(this));
            });

        });


    </script>


}
